 
  <swiper-container
      slides-per-view="auto"
      space-between="10"
      loop="false"
      navigation="true"
      class="category-swiper"
      
      [breakpoints]="{
        '768': {
          slidesPerView: 3,
        },
      }"
      (swiperprogress)="onProgress($any($event))"
      (swiperslidechange)="onSlideChange()"
    >
  @for (menuGroup of this.menuGroups(); track $index) {
  
  <swiper-slide class="category-slide"
   (click)="selectMenuGroup(menuGroup)"
   [class.active]="selected?.id === menuGroup.id"
  >
    <div class="category-card">
      <div class="category-image-wrapper"> 
      </div>
      <div class="category-title">{{ menuGroup.title }}</div>
    </div>
  </swiper-slide>
}
    </swiper-container>



 