.category-swiper {
  width: 100%;
  padding: 10px 0;

  .category-slide {
    padding: 8px 16px;
    background-color: #f5f5f5;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    width: 25%; /* örnek: ekranda 4 slide gözüksün */
    &:hover {
      background-color: #e0e0e0;
    }
  }

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

 