<swiper-container
  slides-per-view="auto"
  navigation="true"
  space-between="10"
  loop="false"
  class="category-swiper"
>
@for (item of this.menuGroupItems(); track item.id) {
  
  <swiper-slide class="category-slide">
    <div class="category-card">
      <div class="category-image-wrapper">
        <img
          [src]="item.iconPath"
          alt="{{ item.label }}"
          class="category-image"
        />
      </div>
      <div class="category-title">{{ item.label }}</div>
    </div>
  </swiper-slide>
}

</swiper-container>
