.bosp-header {
  ion-toolbar {
    --min-height:56px;
    display: flex;
    align-items: center;
  }

  ion-title.logo-title {
    position: absolute;
    top:0;
    left: 30%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    text-align: center;
    pointer-events: none; // butonlara tıklamayı bozmasın
  }

  .logo {
    height: 56px;
    width: auto;
  }

  ion-buttons[slot="start"],
  ion-buttons[slot="end"] {
    z-index: 2;
  }
}
