
   <ion-header>
     <app-page-header></app-page-header>
   </ion-header>
<ion-content>
  
  <div class="page">

    <!--addres bar-->
    <div class="top-bar-address-bar">
      <ion-segment>
        <ion-segment-button selected>
          <ion-icon name="location-outline"></ion-icon>
          <ion-label>Teslimat Adresi</ion-label>
        </ion-segment-button>
        <ion-segment-button>
          <ion-icon name="storefront-outline"></ion-icon>
          <ion-label>Mağazadan Al</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <!--dynamic menu bar-->
    <div class="pd-dynamic-menu-bar">
      <ion-breadcrumbs>
        <ion-breadcrumb  (click)="go('/home')">Ana Sayfa</ion-breadcrumb>
        <ion-breadcrumb routerLink="/siparisler">Tüm Pizzalar</ion-breadcrumb>
        <ion-breadcrumb routerLink="/pizzalar/bol-malzemeli">
          Bol Malzeme Pizzalar
        </ion-breadcrumb>
        <ion-breadcrumb active>{{ this.product?.name }}</ion-breadcrumb>
      </ion-breadcrumbs>
    </div>
    <!--product detail content-->
    <div class="product-area">
      <div class="product-image">
        <!-- Yemek Adı -->
        <ion-text class="product-title">
          <h2>{{ this.product?.name }}</h2>
        </ion-text>
        <!-- Ürün Görseli -->
        <div class="image-wrapper">
          <img
            [src]="'assets/products/' + product?.imageUrl + '.png'"
            alt="{{ this.product?.name }}"
            loading="lazy"
          />
        </div>
        <!-- Fiyat + Adet -->
        <div class="price-qty">
          <!-- Fiyat -->
          <div color="dark" class="price">
            <ion-text color="primary">
              <h3>{{ orderDraft.totalPrice | currency:'':'symbol':'1.2-4' }}</h3>
            </ion-text>
          </div>

          <!-- Adet -->
          <div class="qty-control">
            <ion-button fill="outline" size="small" (click)="decrease()">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-button>          
            <ion-text class="qty">
              {{ orderDraft.quantity| number }}
            </ion-text>
            <ion-button fill="outline" size="small" (click)="increase()">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
         
        </div>
      </div>
      <div class="product-options">
        <app-option-group 
        [productId]="product?.id"
        (optionChange)="onOptionsChange($event)" 
        ></app-option-group>
      </div>
    </div>
    <div class="add-to-cart">
      <ion-button expand="block" color="primary" (click)="sepeteEkle()">Sepete Ekle</ion-button>
    </div>
    <div class="footer-info"></div>
  </div>
</ion-content>
