
<header>
  <ion-toolbar>
    <ion-title>{{'kategoriler' | translate}}</ion-title>
        <ion-buttons slot="start" color="primary">
      <ion-back-button  defaultHref="/home" text="{{'geriDon' | translate }}">    
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" color="primary">
      <ion-button (click)="addCategory()">
        {{'kategoriEkle' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{'kategoriler' | translate}}</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let cat of categories()">
      <ion-item (click)="selectCategory(cat)" 
                [color]="selectedCategory?.id === cat.id ? 'light' : ''">

        <ion-avatar slot="start" *ngIf="cat?.imageUrl">
        <span class="category-avatar">{{ getEmoji(cat.imageUrl||'') }}</span> 
        
        </ion-avatar>

        <ion-label>
          <h2>{{ cat.name }}</h2>
          <p>ID: {{ cat.id }} | Sıra: {{ cat.categoryId }}</p>
        </ion-label>

        <ion-badge slot="end" color="secondary">
          {{'altKategori' | translate}}: {{ itemCount() || 0 }}
        </ion-badge>

      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="openCategoryModal(cat)">
          <ion-icon name="create-outline" slot="top"></ion-icon>
          Düzenle
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteCategory(cat)">
          <ion-icon name="trash-outline" slot="top"></ion-icon>
          Sil
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<!-- 🔽 BURASI YENİ -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-text-center ion-align-items-center">

        <ion-col size="4">
          <ion-button 
            expand="block" 
            (click)="previousPage()" 
            [disabled]="page === 0">
            ← {{'onceki' | translate}}
          </ion-button>
        </ion-col>

        <ion-col size="4">
          <div>
            Sayfa: {{ page + 1 }}
          </div>
        </ion-col>

        <ion-col size="4">
    <ion-button 
            expand="block" 
            (click)="nextPage()" 
            [disabled]="(page + 1) * itemsPerPage >= totalItems">
            {{'sonraki' | translate}} →
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>