.register-wrapper {
  max-width: 420px;
  margin: auto;
  background: #fff;
  border-radius: 20px;
  padding: 20px;

  h2 {
    text-align: center;
    color: #2b5cff;
    margin-bottom: 20px;
  }
}

.row {
  display: flex;
  gap: 10px;

  ion-item {
    flex: 1;
  }
}

.checkbox-text {
  font-size: 13px;
  white-space: normal;
}

.submit-btn {
  margin-top: 20px;
  --background: #d8ffe6;
  --color: #1a7f3c;
  --border-radius: 30px;
}
