<ion-content>
  <ion-grid class="panel-grid">
    <div class="myborder">
      <!-- Logo -->
      <ion-row class="centered-row">
        <img src="/assets/logo.png" alt="Şirket logosu" style="width: 150px; height: auto" />
      </ion-row>

      <!-- Dil seçimi -->
      <ion-row>
        <ion-col size-xs="10" size-md="5" size-lg="4">
          <ion-select
            [(ngModel)]="loginData.lang"
            name="lang"
            interface="popover"
            placeholder="English(EN)"
            [cancelText]="'LOGIN.CANCEL' | translate"
            [okText]="'LOGIN.CHOOSE' | translate"
            (ionChange)="changeLanguege()"
            >
            @for (language of languages; track language) {
              <ion-select-option [value]="language.code"> {{ language.lang }} </ion-select-option>
            }
          </ion-select>
        </ion-col>
      </ion-row>

      <!-- Kullanıcı adı -->
      <ion-row class="centered-row">
        <ion-input
          maxlength="150"
          class="userNameText user-input"
          labelPlacement="stacked"
          [(ngModel)]="loginData.username"
          name="username"
          [placeholder]="'LOGIN.USERNAME' | translate"
          >
          <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-row>

      <!-- Şifre -->
      <ion-row class="centered-row">
        <ion-input
          id="ion-input-1"
          name="password"
          type="password"
          [placeholder]="'LOGIN.PASSWORD' | translate"
          maxlength="150"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
          #myinput
          class="userNameText user-input"
          labelPlacement="stacked"
          [(ngModel)]="loginData.password"
          >
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-button fill="clear" slot="end" aria-label="show/hide" (click)="showPasswords(myinput)">
            <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-row>

      <!-- Beni Hatırla -->
      <ion-row>
        <ion-checkbox class="remember-me" [(ngModel)]="loginData.rememberMe" name="rememberMe" labelPlacement="end">
          {{ 'LOGIN.REMEMBER_ME' | translate }}
        </ion-checkbox>
      </ion-row>

      <!-- Giriş Butonu -->
      <ion-row>
        <ion-button expand="block" style="width: 100%" shape="round" [disabled]="isButtonDisabled" (click)="login()">
          {{ 'LOGIN.LOGIN' | translate }}
          <ion-icon size="large" slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-row>

      <!-- Şifremi Unuttum -->
      <ion-row class="centered-row">
        <ion-text color="medium" style="margin-top: 15px"> {{ 'LOGIN.FORGET_PASSWORD' | translate }} </ion-text>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <span
    style="
      text-align: center;
      width: 100%;
      font-weight: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      padding-bottom: 15px;
    "
    >
    <b>Bosphore</b> &nbsp;&nbsp; Copyright © MainTech Technology
    <sup>v{{ appVersion }}</sup>
  </span>
</ion-footer>
