.login-content{
  --background: #f2f4f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-wrapper{
   min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.login-card{
  background: #ffff;
  width: 100%;
  max-width: 420px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);;
}

h2{
    text-align: center;
    color:#1e63f0;
    margin-bottom: 20px;
}

ion-segment{
  margin-bottom: 20px;
}

ion-segment-button{
  --border-radius:12px;
}



.form-group{
  margin-bottom: 16px;
  ion-label{
    font-size: 14px;
    color:#444;
    margin-bottom:6px;
    display: block;
  }
  ion-input{
    --background:#f6f8fc;
    --padding-start:12px;
    border-radius: 10px;
  }
}

.password-item{
  --background:#f6f8fc;
  border-radius: 10px;
}

.forgot{
  text-align: right;
  margin: 8px 0 16px;
  a{
    color: #1e63f0;
    font-size: 14px;
    text-decoration: none;

  }
}

.login-btn{
  --background:#1bb34f;
  --border-radius:999px;
  height: 48px;
  font-weight: 600;
}

.register-btn{
  margin-top: 14px;
  --border-radius:999px;
  span{
    font-weight: 600;
    margin-left: 4px;
  }
}