
 

<ion-content class="login-content">
  <div class="center-wrapper">
    <div class="login-card">
      <h2>{{'login'|translate}}</h2>

      <!--segment-->
      <ion-segment [(ngModel)]="loginType">
        <ion-segment-button value="phone">
          <ion-icon name="call-outline" style="display: block; margin: 2px auto;"></ion-icon>
          <ion-label style="font-size: 12px;">{{ 'PHONE_NUMBER' | translate }}</ion-label>
        </ion-segment-button>
        
        <ion-segment-button value="email">
          <ion-icon name="mail-outline" style="display: block; margin: 2px auto;"></ion-icon>
          <ion-label style="font-size: 12px;">{{ 'EMAIL_ADDRESS' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <!-- e-mail-->
      @if(loginType==='email'){
      <div class="form-group">
        <ion-label>{{'EMAIL_ADDRESS'|translate}}</ion-label>
        <ion-input
          type="email"
          placeholder="xxx@gmail.com"
          [(ngModel)]="loginData.username"
        >
        </ion-input>
      </div>
            <!--password-->
      <div class="form-group">
        <ion-label>{{'password'|translate}}</ion-label>
        <ion-item class="password-item">
          <ion-input
            [type]="showPassword?'text':'password'"
            [(ngModel)]="loginData.password"
          ></ion-input>
          <ion-icon name="eye" slot="end" (click)="togglePassword()">
          </ion-icon>
        </ion-item>
      </div>
      } 
      <!-- telefon-->
      @if(loginType==="phone"){
      <div class="form-group">
        <ion-label>{{'PHONE_NUMBER'|translate}}</ion-label>
        <ion-input
          type="tel"
          placeholder="xxx.xxx.xx.xx"
          [(ngModel)]="loginData.username"
        >
        </ion-input>
      </div>
      }


      <div class="forgot">
        <a href="#">{{'FORGET_PASSWORD'|translate}}</a>
      </div>

      <ion-button expand="block" class="login-btn" (click)="login()">
        {{'login'|translate}}
      </ion-button>

      <ion-button expand="block" fill="outline" class="register-btn" (click)="register()">
        {{'DO_NOT_YOU_HAVE_AN_ACCOUNT'|translate}} <span>{{'NEW_MEMBER'|translate}}</span>
      </ion-button>
      <div class="form-group">
        <ion-select
        [(ngModel)]="langKey"
         name="lang"
         interface="popover"
         placeholder="English(EN)"
         cancelText="{{ 'LOGIN.CANCEL' | translate }}"
         okText="{{ 'LOGIN.CHOOSE' | translate }}"
          (ionChange)="changeLanguege()"          
        >
          @for (language of languages; track   language.code) {
              <ion-select-option [value]="language.code"> {{ language.lang }} </ion-select-option>
            }
        </ion-select>
      </div>
    </div>
  </div>
</ion-content>



