 <ion-header [translucent]="true">  
  <ion-toolbar color="primary">    
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
     </ion-buttons>
     <ion-title>{{ 'PRODUCT_MANAGEMENT' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openForm()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        {{ 'ADD_PRODUCT' | translate }}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar 
      placeholder= "{{ 'SEARCH_PRODUCT' | translate }}" 
      (ionInput)="search($event)" 
      [debounce]="500">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item-sliding *ngFor="let product of products()">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]=" appUtil.getImageUrl(apiUrl, product.imageUrl??'')" 
               onerror="this.src='assets/menus/default.png'" />
        </ion-avatar>

        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>
            <ion-text color="medium"> {{ 'CATEGORY' | translate }}: </ion-text> {{ product.category?.id || 'Belirtilmemiş' }} 
            | <ion-text color="medium"> {{ 'LANGUAGE' | translate }}: </ion-text> {{ product.language?.id || '-' }}
          </p>
          <ion-badge color="success" mode="ios">{{ product.price | number:'1.2-2' }} TL</ion-badge>
        </ion-label>

        <ion-note slot="end" class="ion-text-center">
          <ion-icon 
            [name]="product.isActive ? 'checkmark-circle' : 'close-circle'" 
            [color]="product.isActive ? 'success' : 'danger'"
            size="large">
          </ion-icon>
          <p style="font-size: 10px;">product.isActive ?  {{ 'ACTIVE' | translate }} : {{ 'INACTIVE' | translate }} </p>
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="openForm(product)">
          <ion-icon name="create-outline" slot="top"></ion-icon>
          {{ 'EDIT' | translate }}
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(product.id!)">
          <ion-icon name="trash-outline" slot="top"></ion-icon>
          {{ 'DELETE' | translate }}
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="products().length === 0" class="ion-padding ion-text-center">
    <ion-text color="medium">
      <p>{{ 'NO_PRODUCTS_FOUND' | translate }}</p>
    </ion-text>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadAll($event)">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles" 
      loadingText= "{{ 'LOADING_MORE_PRODUCTS' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>