 <ion-content>
  <ion-grid fixed>
    <ion-row>
      @for(product of products();track product.id){

      <ion-col size="12" size-md="6" size-lg="4" size-xl="3">
        
        <ion-card class="product-card">
          <img [src]="'assets/products/' + product.imageUrl + '.png'" />


          <ion-card-content>
            <h2>{{ product.name }}</h2>
            <p class="desc">{{ product.description }}</p>

            <div class="price-row">
              <span class="price">{{ product.price }} TL</span>
              <ion-button size="small" fill="outline">
                Sipariş Ver
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>

      }

    </ion-row>
  </ion-grid>
</ion-content>
