.category-swiper {
  width: 100%;
  padding: 30px 0;

  .category-slide {
    padding: 14px 24px;
    background-color: #f5f5f5;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
    width: 25%; /* örnek: ekranda 4 slide gözüksün */
    &:hover {
      background-color: #e0e0e0;
    }
  }

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.category-slide.active {
  color: #1a73e8;
  font-weight: 600;

}

.category-slide.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 3px;
  background: #1a73e8;
  border-radius: 3px;
}
 
/* 

.category-slide {
  width: auto !important;
  padding: 14px 24px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  color: #555;
  position: relative;
  display: flex;
  align-items: center;
}







.swiper-button-next,
.swiper-button-prev {
  color: #1a73e8;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}


.category-slide {
  border-right: none !important;
}


.swiper-button-next,
.swiper-button-prev {
  display: flex !important;
  color: #1a73e8 !important;
  background: #ffffff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: bold;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 50 !important;
}
*/