<ion-header>
  <app-page-header></app-page-header>
</ion-header>
<ion-content>
  <div class="page-wrapper">
    <div class="address-bar"></div>
    <div class="page">
      <div class="sepet-urun">
        <div class="secilen-urunler">
          <ion-list>
            @for(item of cartItems;track item.uuid){
            <ion-item>
              <div class="urun">
                <div class="urun-name">
                  <ion-label slot="start">{{item.productName}}</ion-label>
                  <ion-label slot="end"> {{item.totalPrice|currency}}</ion-label>
                </div>
                <div class="urun-islem">
                  <div class="urun-button">
                    <ion-button fill="outline" size="small">
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                    <ion-text class="qty">1</ion-text>
                    <ion-button fill="outline" size="small">
                      <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                  </div>
                  <div class="urun-sil">
                    <ion-button>
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </div>
            </ion-item>
            }
          </ion-list>
        </div>
        <div class="birlikte-iyi-gider">
           <app-extra-option-group 
        [productId]="this.productId"
        [optionType]=7
        (optionChange)="onExtraOptionsChange($event)" 
        ></app-extra-option-group> 

        </div>
        <div class="soslar"></div>
      </div>
      <div class="sepet-ozet">

      </div>
    </div>
  </div>
</ion-content>

