
<ion-content>
  <app-page-header></app-page-header>

  <!--adress secimi-->
  <div class="location-bar">
    <ion-breadcrumbs>
    <ion-breadcrumb (click)="presentOrderTypeModal()">
        <ion-icon slot="start" [name]="orderService.deliveryType() === 'delivery' ? 'bicycle-outline' : 'storefront-outline'"></ion-icon>
        {{ orderService.deliveryType() === 'delivery' ? 'Adrese Teslim' : 'Gel Al' }}
      </ion-breadcrumb>

    <ion-breadcrumb (click)="openAddressList()">
          <ion-icon slot="start" name="location-outline"></ion-icon>
          {{ orderService.selectedAddress()?.addressText || 'Adres Seçiniz' }}
        </ion-breadcrumb>
    </ion-breadcrumbs>
  </div>

  <!--menu gruplari-->
 <app-menu-groups (selectedGroupChange)="onSelectedGroupChange($event)"></app-menu-groups>
 
 <!--urunler -->
<app-products [selectedGroupId]="selectedGroupId"></app-products>
 
</ion-content>

 