 
 <ion-header class="ion-no-border">  
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" class="logo-title">
      {{'DELICIOUS'|translate}}<span class="logo-dot">.</span>
    </ion-title>

    <div slot="end" class="toolbar-end">
      <ion-chip class="addr-chip" (click)="openAddressList()">
        <ion-icon name="location-outline" color="warning"></ion-icon>
        <ion-label>{{'SELECT_ADDRESS'|translate}}</ion-label>
      </ion-chip>

      <ion-button fill="solid" color="primary" class="cart-btn" [routerLink]="['/cart']">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
         {{'BASKET'|translate}}
        @if (totalCount() > 0) {
          <ion-badge color="light" class="cart-badge">{{ totalCount() }}</ion-badge>
        }
      </ion-button>
    </div>

  </ion-toolbar>

  <!-- ANA SEKMELER -->
  <ion-toolbar color="light" class="tab-toolbar">
    <ion-segment [value]="selectedGroupId()"  (ionChange)="selectGroup($event)" mode="md">
      @for (tab of menuGroups(); track tab.id) {
        <ion-segment-button [value]="tab.id">
          <ion-label>{{ tab.title }}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>
  </ion-toolbar>

  <!-- KATEGORİ SCROLLU -->
  <ion-toolbar class="category-toolbar">
    <div class="category-scroll">
      @for (cat of selectedCategories(); track cat.id) {
        <ion-chip
          [class.active-chip]="activeCategory().id === cat.id"
          [outline]="activeCategory().id !== cat.id"
          (click)="setCategory(cat.id)">
          {{ cat.label }}
        </ion-chip>
      }
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="menu-content">

  <!-- SECTION BAŞLIĞI -->
  <div class="section-header">
    <h2 class="section-title">{{ activeCategory().label }}</h2>
    <ion-badge color="medium" class="count-badge">{{ products().length }} {{'PRODUCT'|translate}}</ion-badge>
  </div>

  <!-- ÜRÜN GRID -->
  <div class="product-grid">

    <!-- İLK ÜRÜN — GENİŞ KART (featured) -->
  <!--  @if (products().length > 0) {
      <ion-card class="product-card product-card--wide"
        (click)="addToCart(products()[0])">
        <div class="card-img-wrap">
          @if (products()[0].badge === 'HOT') {
            <ion-badge color="primary" class="img-badge">⭐ Çok Satan</ion-badge>
          }
           <span class="food-emoji">{{ getEmoji('elma') }}</span>
         <!--  @if (products()[0].imageUrl) {
               <img [src]=" 'assets/products/' + products()[0].imageUrl + '.png'" 
                class="product-img"
               alt="product"/>
            } @else {
              <span class="food-emoji">{{ products()[0].emoji }}</span>
            } --><!--
        </div>
        <ion-card-content class="card-content">
          <div class="card-top">
            <div>
              <ion-card-title class="card-name">{{ products()[0].name }}</ion-card-title>
              <ion-card-subtitle class="card-desc">{{ products()[0].description }}</ion-card-subtitle>
            </div>
            <div class="price-tag">{{ products()[0].price | number:'1.2-2' }} €</div>
          </div>
          <div class="card-footer">
            <ion-chip color="medium" class="rating-chip">
              <ion-icon name="star" color="warning"></ion-icon>
              <ion-label>{{ products()[0].rating }} ({{ products()[0].reviewCount }})</ion-label>
            </ion-chip>
            <ion-button fill="outline" color="dark" size="small"
              (click)="quickAdd($event, products()[0])">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    }-->

    <!-- DİĞER ÜRÜNLER — 2'Lİ GRID -->
    <div class="two-col-grid">
     <!--@for (item of products().slice(1); track item.id) {-->
      @for (item of products(); track item.id) {
        <ion-card class="product-card" (click)="addToCart(item)">

          <div class="card-img-wrap card-img-wrap--sm">
            @if (item.badge === 'new') {
              <ion-badge color="warning" class="img-badge">{{'NEW'|translate}}</ion-badge>
            } @else if (item.badge === 'HOT') {
              <ion-badge color="primary" class="img-badge">{{'BEST_SELLER'|translate}}</ion-badge>
            }

            @if (item.imageUrl) {
               <img [src]="item.imageUrl" 
                class="product-img"
               alt="product"/>
            } @else {
              <span class="food-emoji">{{ item.emoji }}</span>
            }

          </div>

          <ion-card-content class="card-content card-content--sm">
            <ion-card-title class="card-name card-name--sm">{{ item.name }}</ion-card-title>
            <ion-card-subtitle class="card-desc card-desc--sm">{{ item.description }}</ion-card-subtitle>
            <div class="card-footer card-footer--sm">
              <span class="price-tag price-tag--sm">{{ item.price | number:'1.2-2' }} </span>
              <ion-button fill="solid" color="dark" size="small"
                (click)="quickAdd($event, item)">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>

        </ion-card>
      }
    </div>

  </div>

</ion-content>

