.category-wrapper {
  position: relative;
  background: white;
  padding: 20px 60px; // oklar için boşluk
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.cat-item {
  font-size: 20px;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  white-space: nowrap;
}

.nav-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1976ff;
  font-size: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
